<!DOCTYPE html>
{% import 'macros.html' as m %}
{% extends 'layout.html' %}
{% block content %}
<div clas="container">
  <div class="row col-sm-6 col-sm-offset-3 vcenter">
      <h2 class="form-signin-heading">Reset password</h2>
      {% call m.render_form(form, action_url=url_for('user.reset', token=token), action_text='Reset', btn_class="btn btn-primary", class_='login-form') %}
      {{ m.render_field(form.password, label_visible=false, placeholder='New password', type='password') }}
      {% endcall %}
  </div>
</div>
{% endblock %}
