<!DOCTYPE html>
{% import 'macros.html' as m %}
{% extends 'layout.html' %}
{% block content %}
<div clas="container">
  <div class="row col-sm-6 col-sm-offset-3 vcenter">
      <h2 class="form-signin-heading">Resend activation</h2>
      {% call m.render_form(form, action_url=url_for('user.resend'), action_text='Submit', btn_class="btn btn-primary", class_='login-form') %}
      {{ m.render_field(form.email, label_visible=false, placeholder='Enter your email', type='email') }}
      {% endcall %}
  </div>
</div>
{% endblock content %}
